@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";

.cousine-regular {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
}

.cousine-bold {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
}

.cousine-regular-italic {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: italic;
}

.cousine-bold-italic {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: italic;
}

html {
    font-size: 62.5%;
}

:root {
    --accent-color: hsl(140, 50%, 80%);
    --secondary-color: hsl(140, 5%, 90%);
    --secondary-dark-color: hsl(140, 5%, 10%);
}

body {
    font-size: 1.5rem;
    font-family: Cousine, Arial, Helvetica, sans-serif;
}

.header-style {
    height: 70px;
    width: 100vw;
    background-color: var(--secondary-color);
    min-height: 70px;
    min-width: 100vw;
}

.primary-button {
    border-radius: 8rem;
    background-color: var(--accent-color);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background-color 0.2s ease-in-out;
    box-shadow: gray 0 0 0.5rem;
}

.primary-button:hover {
    cursor: pointer;
    background-color: green;
}